/* General */

body {
	background-color: rgb(240, 240, 240);
	padding-left: 20%;
	padding-right: 20%;
}

h2 {
	/* section titles */
	color: rgb(100, 100, 100);
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: 40px;
}

p {
	font-family: "Assistant";
}

a {
	color: inherit;
	text-decoration-style: dotted;
	target: "_blank";
}

a:hover {
	color: rgb(200, 200, 200);
}

/* NOTE TO SELF: style classes using . and ids using # */

/* Title */

#me-name {
	color: rgb(100, 100, 100);
	font-family: 'Work Sans', sans-serif;
	font-size: 4rem;
	font-weight: 300;
	text-align: center;
	margin-bottom: 10px;
}

#me-portrait {
	height: 150px;
	width: 150px;
	overflow: hidden;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* About */

#about-description {
	text-align: center;
	margin-top: 20px;
	margin-left: 20%;
	margin-right: 20%;
}

/* Experience */ 

.grid-row {
	display: flex;
	flex-flow: row wrap;
}

.grid-container {
	width: 30%;
	margin: 1.5%;
}

.exp-img {
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.exp-date {
	text-align: center;
	color: rgb(150, 150, 150);
	font-family: "Raleway";
}

.exp-description {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

/* Contact */

#links {
	width: 132px;
	margin: auto;
	margin-bottom: 50px;
}

.links-img {
	width: 30px;
	height: 30px;
}

/* Responsive layout */

@media (max-width:1200px) {
	body {
		padding-left: 15%;
		padding-right: 15%;
	}
}

@media (max-width:800px) {
	body {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width:500px) {
	body {
		padding-left: 5%;
		padding-right: 5%;
	}
}