/* General */

body {
	background-color: rgb(240, 240, 240);
	padding-left: 20%;
	padding-right: 20%;
}

h2 {
	font-family: "Assistant";
}

p {
	font-family: "Assistant";
}

/* NOTE TO SELF: style classes using . and ids using # */

/* Title */

.img-circle {
    border-radius: 50%;
}

#me-name {
	color: rgb(50, 50, 50);
	font-family: 'Work Sans', sans-serif;
	font-size: 4rem;
	font-weight: 300;
	text-align: center;
	margin-bottom: 10px;
}

#me-portrait {
	height: 150px;
	width: 150px;
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Main */

.links-img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.work {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 20px;
}

.section{
	display: flex;
	flex-flow: row wrap;
	border-top: 10px;
}

.container {
  position: relative;
}

#description {
	padding-top: 20px;
}

#connect {
	padding-top: 40px;
}